pacman:
  repos:
#   - antergos-staging:
#   - antergos:
#     - Include: /etc/pacman.d/antergos-mirrorlist
#     - SigLevel: PackageRequired
#     - Server: http://mirrors.antergos.com/$repo/$arch/
#     - unattended_upgrade: False
    - community:
      - unattended_upgrade: False
      - Include: /etc/pacman.d/mirrorlist
#   - community-testing: 
    - core:
      - Include: /etc/pacman.d/mirrorlist
      - unattended_upgrade: False
    - extra:
      - Include: /etc/pacman.d/mirrorlist
      - unattended_upgrade: False
#   - gnome-unstable:
#   - kde-unstable:
    - multilib:
      - Include: /etc/pacman.d/mirrorlist
      - unattended_upgrade: False
#   - multilib-testing:
#   - testing:
  options:
    - RootDir: /
    - DBPath: /var/lib/pacman/
    - CacheDir: /var/cache/pacman/pkg/
    - LogFile: /var/log/pacman.log
    - GPGDir: /etc/pacman.d/gnupg/
    - HookDir: /etc/pacman.d/hooks/
    - HoldPkg: pacman glibc
#   - XferCommand: "/usr/bin/curl -L -C - -f -o %o %u"
#   - XferCommand: "/usr/bin/wget --passive-ftp -c -O %o %u"
    - CleanMethod: KeepInstalled
    - UseDelta: 0.7
    - Architecture: auto
#   - IgnorePkg:
#     - vim
#     - nano
#   - IgnoreGroup:
#     - group1
#     - group2
#   - NoUpgrade:
#     - package1
#     - package2
#   - NoExtract:
#     - package1
#     - package2
#   - UseSyslog
    - Color
#   - TotalDownload
    - CheckSpace
#   - VerbosePkgLists
    - SigLevel: Required DatabaseOptional
    - RemoteFileSigLevel: Required
    - LocalFileSigLevel: Optional
